@keyframes border-contrast-blur {
  from {
    box-shadow: 0 0 15px 2px $primary-corntrast-color;
  }

  to {
    box-shadow: 0 0 0 0 #2ecc71;
    color: $primary-corntrast-color;
    border-color: $primary-corntrast-color;
    background-color: inherit;
  }
}
@keyframes slide-left {
  from{
    margin-right: -1000px;
  }

  to{
    margin-right: 0;
  }
}
