//variables
$Primary-color-white: #fffce1;
$primary-text-color: #495057;
$primary-corntrast-color : #2ecc71;
$color-light-grey : #f2f2f1;
$color-dark : #252e30;

.clearfix{
  display: table;
  content: "";
  overflow: hidden;
}
//extended
%font-bold{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 60px;
}
%font-normal{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
button{
  border: 2px solid $primary-corntrast-color;
  padding: 20px 30px;
  border-radius: 15px;
  @extend %font-normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $primary-corntrast-color;
  &:hover{
    background-color: $color-dark;
    color: $primary-text-color;
    animation-name: border-contrast-blur;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }
}
.test{
  width: 100px;
  height: 100px;
  background-color: red
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}
