<a name="about-me"></a>
<div class="vj_about-me">
    <div class="container">
        <div class="vj_about-me--img">
            <img src="img/header/big_photo.jpg" alt="">
        </div>
        <div class="vj_about-me__bio">
            <h3 class="vj_about-me--title">About Me</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque esse eum id
                itaque nam, praesentium qui quod similique totam!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aperiam consectetur dolor ea
                esse magni nam obcaecati optio, possimus quo rem rerum sequi! Aliquid cum exercitationem ipsa
                officiis vitae?
            </p>
            <div class="vj_about-me--list">
                <figure><i class="icon-web_design"></i>
                    <div class="vj_about-me--item">
                        <h5>Web Design</h5>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, iste?</span>
                    </div>
                </figure>
                <figure><i class="icon-o_marketing"></i>
                    <div class="vj_about-me--item">
                        <h5>Online Marketing.</h5>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, harum.</span>
                    </div>
                </figure>
                <figure><i class="icon-g_design"></i>
                    <div class="vj_about-me--item">
                        <h5>Graphic Design</h5>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, quibusdam?</span>
                    </div>
                </figure>
                <figure><i class="icon-seo"></i>
                    <div class="vj_about-me--item">
                        <h5>SEO</h5>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, non.</span>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>