<section class="vj__brief">
    <div class="container">
        <div class="vj__brief__list">
            <div class="vj__brief__item">
                <header>
                    Values
                </header>
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, similique.
                </span>
            </div>
            <div class="vj__brief__item">
                <header>
                    Goals
                </header>
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
                    eveniet ipsa qui quidem, sint totam.
                </span>
            </div>
            <div class="vj__brief__item">
                <header>
                    Hobbies
                </header>
                <span>
                Lorem ipsum dolor sit amet.
                </span>
            </div>
        </div>
    </div>
</section>