<section class="vj__brief">
    <div class="container">
        <div class="vj__brief__list">
            <div class="vj__brief__item">
                <header>
                    Values
                </header>
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, similique.
                </span>
            </div>
            <div class="vj__brief__item">
                <header>
                    Цель
                </header>
                <span>
                    Освоить полный цыкл разработки веб преложений.
                </span>
            </div>
            <div class="vj__brief__item">
                <header>
                    Хооби
                </header>
                <span>
                    Езда не велосипеде.
                </span>
            </div>
        </div>
    </div>
</section>