<div class="vj_contacts">
    <div class="container">
        <div class="vj_contacts__wrapper">
            <div class="vj_contacts__my">
                <h3>Contact Me</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae fugiat
                    impedit ipsam iure porro, soluta? Accusamus beatae eaque neque officia sunt.
                    Iste?
                </p>
                <p>
                    123 33rd Street East
                    <br>
                    Saskatoon, SK
                    <br>
                    S7K 1R9
                </p>
            </div>
            <div class="vj_contacts__form">
                <form action="">
                    <label>
                        <p>
                            Name *
                        </p>
                        <input type="text" maxlength="20">
                    </label>
                    <label>
                        <p>
                            Email Address *
                        </p>
                        <input type="email" maxlength="45">
                    </label>
                    <label>
                        <p>
                            Comments
                        </p>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </label>
                    <button class="submit-form"><p>send</p></button>
                </form>
            </div>
        </div>
    </div>
</div>