<div class="vj_education">
    <div class="container">
        <div class="vj_education-wrapper">
            <div class="vj_education-description">
                <h3>My Education</h3>
                <span>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa labore laboriosam
                    quisquam, vel veniam!
                </span>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid exercitationem
                    labore libero, molestias neque ratione repudiandae similique velit veniam. Libero
                    modi quaerat repellat repellendus vero?
                </span>
            </div>
            <div class="vj_education-list">
                <div class="vj_education-item">
                    <h4>Graphic Design Diploma</h4>
                    <span>Lorem ipsum dolor sit amet.</span>
                    <hr noshade color="#2ecc71">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto
                        assumenda doloremque libero molestias quia similique! Accusantium adipisci,
                        deserunt explicabo hic minus, nam nostrum obcaecati placeat quos ut
                        voluptates, voluptatibus.
                    </span>
                </div>
                <div class="vj_education-item">
                    <div class="vj_education-item">
                        <h4>CIT Diploma</h4>
                        <span>Lorem ipsum dolor sit amet.</span>
                        <hr noshade color="#2ecc71">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto
                        assumenda doloremque libero molestias quia similique! Accusantium adipisci,
                        deserunt explicabo hic minus, nam nostrum obcaecati placeat quos ut
                        voluptates, voluptatibus.
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>