<a name="skill"></a>
<div class="vj__skill">
    <div class="container clearfix">
        <div class="vj__skill-description">
            <h3>My Skills</h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius et laborum quia
                quidem reiciendis vel. Atque cum deleniti dolore ea eveniet harum odio possimus,
                saepe.</span>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolores nihil
                optio quod saepe voluptatem?
            </span>
            <button>Contact Me</button>
        </div>
        <div class="vj__skill-list">
            <div class="vj__skill-ps">
                <h4>Photoshop</h4>
                <p>7/10</p>
                <div class="scale"></div>
            </div>
            <div class="vj__skill-ill">
                <h4>Illustrator</h4>
                <p>5/10</p>
                <div class="scale"></div>
            </div>
            <div class="vj__skill-html">
                <h4>HTML / CSS</h4>
                <p>8/10</p>
                <div class="scale"></div>
            </div>
            <div class="vj__skill-php">
                <h4>PHP / MYSQL</h4>
                <p>2/10</p>
                <div class="scale"></div>
            </div>
        </div>
    </div>
</div>