<section class="vj_portfolio">
    <div class="container">
        <a name="portfolio"></a>
        <div class="vj_portfolio__wrapper">
            <h3>Portfolio</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, corporis ducimus
                ea labore perferendis soluta.
            </p>
            <div class="vj_portfolio__list">
                <div class="vj_portfolio__item"></div>
                <div class="vj_portfolio__item"></div>
            </div>
        </div>
    </div>
</section>