<a name="resume"></a>
<section class="vj__resume">
    <div class="container">
        <div class="vj__resume__wrapper">
            <h3>Resume</h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi assumenda consequuntur
                debitis distinctio dolor doloribus eius esse ex excepturi ipsum iste maxime molestias
                necessitatibus numquam obcaecati odio odit officia quasi quis quos ratione rem sunt,
                voluptate.
            </span>
            <button>
                Download Resume
            </button>
        </div>
    </div>
</section>