<div class="vj_review">
    <div class="container">
        <div class="vj_review__wrapper">
            <div class="vj_review--post">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, voluptatum.</p>
                <h4>Lorem ipsum.</h4>
            </div>
            <hr>
            <div class="vj_review--post">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa facilis
                    fugiat itaque iusto maxime minus molestias mollitia neque, sequi suscipit
                    voluptas, voluptatibus voluptatum! Dignissimos est, fugit ipsam ipsum libero nobis
                    pariatur praesentium recusandae voluptatem!
                </p>
                <h4>Lorem ipsum.</h4>
            </div>
            <hr>
            <div class="vj_review--post">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet corporis deserunt eos et
                    hic illo incidunt mollitia nemo nulla, obcaecati, optio placeat provident quasi qui
                    quibusdam quisquam recusandae sed similique, sunt ullam ut veritatis. Aliquid architecto
                    aut, consequuntur eius fugiat inventore maxime, molestiae necessitatibus quasi similique
                    sit tempore, voluptas?
                </p>
                <h4>Lorem ipsum.</h4>
                <hr>
            </div>
        </div>
    </div>
</div>