<section class="vj_works">
    <div class="container">
        <hr noshade color="#2ecc71">
        <div class="vj_works__wrapper">
            <div class="vj_works__description">
                <h3>Work Experience</h3>
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cum cumque
                    laborum, modi velit vero?
                </span>
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis
                    facilis iusto nobis odio, unde voluptatem.
                </span>
            </div>
            <div class="vj_works__list">
                <div class="vj_works__item">
                    <h4>Graphic Design Diploma</h4>
                    <span>Lorem ipsum dolor sit amet.</span>
                    <hr noshade color="#2ecc71">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto
                        assumenda doloremque libero molestias quia similique! Accusantium adipisci,
                        deserunt explicabo hic minus, nam nostrum obcaecati placeat quos ut
                        voluptates, voluptatibus.
                    </span>
                </div>
                <div class="vj_works__item">
                    <h4>Graphic Design Diploma</h4>
                    <span>Lorem ipsum dolor sit amet.</span>
                    <hr noshade color="#2ecc71">
                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto
                        assumenda doloremque libero molestias quia similique! Accusantium adipisci,
                        deserunt explicabo hic minus, nam nostrum obcaecati placeat quos ut
                        voluptates, voluptatibus.
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>