.vj_footer{
  background-color: #1d2124;
  &__wrapper{
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &>h5{
      color: $primary-text-color;
      @extend %font-normal;
      display: block;
      padding: 5px 0;
    }
  }
  &__contact-i{
    display: flex;
    margin: 5px auto;
    & > a {
      display: block;
      margin: 0 5px;
      height: 15px;
      width: 15px;
      border-radius: 100%;
      border: 2px solid $color-dark;
      background-color: $primary-corntrast-color;
      background-repeat: no-repeat;
      background-position: center center;
      padding: 15px;
      box-sizing: padding-box;
      &:hover{
        animation-name: border-contrast-blur;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        //border-color: $primary-corntrast-color;
      }
    }
    &>a:first-child{
      background-image: url("../images/sprite/i--fb.svg");
    }
    &>a:nth-child(2){
      background-image: url("../images/sprite/i-Ln.svg");
    }
  }
}