.vj__nav{
  background-color: $color-dark;
  &__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;

    & > a{
      color: $Primary-color-white;
      @extend %font-bold;
      font-weight: 400;
      font-size: 18px;
      text-transform: uppercase;
      margin: 10px 15px;
      padding: 5px 10px;
      box-sizing: border-box;
      border-radius: 5px;
      border: 2px solid $color-dark;
      &:hover{
        color: $Primary-color-white;
        animation-name: border-contrast-blur;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
      }
    }
  }
}
.logo{
  width: 60px;
  height: 60px;
  background: red;
}
