.vj_review{
  padding: 50px 0;
  background-color: $color-light-grey;
  &--post{
    color: $primary-text-color;
    & > p {
      margin: 35px 0 15px 0;
      @extend %font-normal;
      font-size: 16px;
    }
    & > h4 {
      @extend %font-bold;
      font-size: 18px;
      font-weight: 600;
    }
  }
}